################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SongBook2/obj
/SongBook2/bin/Debug/netcoreapp3.1
/.vs
